body {
    background-color: #2D4059;
}

input {
    box-sizing: border-box;
    width: 430px;
    padding: 15px;
    border: 0.5px solid #2D4059;
    border-radius: 3px;
    background-color: #ffffff;
}

#join-form {
    background-color: #ffffff;
    box-sizing: border-box;
    border: 2px solid #ededed;
    border-radius: 12px;
    margin: 250px auto;
    padding: 24px;
    width: 480px;
    height: 500px;
    text-align: center;
    color: #2D4059;
}


.join-form__input {
    width: 100%;
    line-height: 2;
    margin-top: 16px;
}

.join-form__input_id_check_btn {
    position: relative;
    top: -275px;
    bottom: 30px;
    left: 180px;
    width: 100px;
    height: 33px;
    font-size: 15px;
    background: #2D4059;
    opacity: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #ededed;
    text-align: center;
}

.join-form__input--label {
    position: relative;
    text-align: left;
    left: 5px;
    color: #2D4059;
    font-size: smaller;
    font-weight: bolder;

}
.join-form__check_btn {
    width: 425px;
    height: 55px;
    background: #2D4059;
    position: relative;
    top: 30px;
    left: 0px;
    bottom: -20px;
    border: 2px solid rgba(85,85,85,1);
    border-radius: 5px;
    overflow: hidden;
    font-weight: Medium;
    font-size: 18px;
    color: #ededed;
    text-align: center;
    }

.join-form__login {
    position: relative;
    top:25px;
    bottom: 30px;
    left: 130px;
    background: rgb(255, 255, 255);
    border: 0;
    opacity: 1;
    font-size: 10px;
    color: #ffffff;
    text-align: center;
    color:black;
    text-decoration: underline;
    text-underline-position:under
}